@import "../../vars.css";

.container {
	position: relative;
	z-index: 2;
	margin: 8.75rem 10%;
	color: var(--color-text);
}

.section_title {
	font-size: 3.5rem;
	letter-spacing: 1.75px;
	font-weight: 700;
	text-wrap: nowrap;
	margin-bottom: 5%;
	text-align: center;
}

.cards {
	display: flex;
	justify-content: space-around;
	gap: 4rem;
}

@media screen and (max-width: 1300px) {
	.cards {
		flex-wrap: wrap;
	}
}
