@import "../../vars.css";

.container {
    position: relative;
    z-index: 2;
    margin: 2% ;
  }

.footer {
    text-align: center;
    color: var(--color-text);
    font-family: var(--font-roboto);
    font-size: 1.1rem;
}