@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&display=swap");
:root {
	/* Colours */
	--color-text: #fff;
	--color-primary: #576cbc;
	--color-secondary: #19376d;
	--color-dark: #0b2447;
	--color-bg: #04152d;

	/* Fonts */
	--font-roboto: "Roboto";
}
